
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

  body {
    background: #fff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', cursive;
  }
.services {
  background: linear-gradient(
    0deg,
    rgba(241, 246, 253, 0) 1.63%,
    #f1f6fd 20.5%,
    #f1f6fd 58.57%,
    #ffffff 100%
  );
}
.footer {
  background: linear-gradient(192.7deg, #152a47 14.55%, #032555 91.2%);
  border: 1px solid #000000;
  
}


/* NAVBAR */
/*
#navbar {
  width: 90%;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;

}

.logo img {
  width: 90px;
}

.nav-list {
  display: flex;
  list-style-type: none;
}

.nav-list li {
  margin: 0px 10px;
  font-size: 12px;
  color: #032555;
  font-weight: 500;
}

.nav-button button {
  background: #eb5757;
  border: none;
  width: 110px;
  height: 35px;
  color: #fff;
  border-radius: 12px;
  font-size: 11px;
} */

/* HERO */
/*
.hero-wrapper {
 
   background: #f1f6fd;
}
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  margin: auto;
}

#hero h5 {
  color: #eb5757;
}

.hero-text h1 {
  font-size: 35px;
  color: #032555;
}

.hero-text p {
  font-size: 14px;
  color: #3a3a3a;
  line-height: 20px;
  width: 90%;
}

.hero-button .button1,
.hero-button .button2 {
  background: #032555;
  color: white;
  font-size: 12px;
  padding: 10px;
  margin-right: 20px;
  border: none;
  width: 130px;
}

.hero-button .button2 {
  background: transparent;
  border: 1px solid #032555;
  color: #032555;
  font-weight: bold;
}

.hero-img img {
  width: 100%;
  margin-top: 30px;
} */

/* WHO WE ARE */
/* #who {
  background: #fff;
}
.who {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  max-width: 90%;
  margin: auto;
}

.who-text h3 span {
  color: #eb5757;
  font-size: 14px;
}
.who-text p{
    color: #3a3a3a;
    font-size: 13px;
    line-height: 25px!important;
    margin-bottom: 40px;
}
.who-text h3 {
  color: #032555;
  font-size: 30px;

}


.who-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.who-card div {
  background: #fff;
  margin: 10px;
  width: 300px;
  height: 150px;
  box-shadow: 2px 3px 5px 0px gray;
} */

/* MEDIA QUERY FROM 700PX */

/* @media screen and (min-width: 700px) { */

/* NAVBAR */

/* .logo img {
    width: 90px;
  }
  
  .nav-list li {
    margin: 0px 10px;
    font-size: 13px;
  
  }
  
  .nav-button button {
    background: #eb5757;
    width: 110px;
    height: 30px;
 
    font-size: 12px;
  } */

/* HERO */

/* .hero-wrapper { */
/* margin: 60px 0px 0px 0px; */
/* background: #f1f6fd;
    height: 370px;
  }
  #hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: auto;
  }
  .hero-text h1 {
    font-size: 30px;
    color: #032555;
  }

  .hero-text p {
    font-size: 14px;
    color: #3a3a3a;
    line-height: 20px;
    width: 90%;
  }

  .hero-button .button1,
  .hero-button .button2 {
    background: #032555;
    color: white;
    font-size: 12px;
    padding: 10px;
    margin-right: 20px;
    border: none;
    width: 130px;
  }

  .hero-button .button2 {
    background: transparent;
    border: 1px solid #032555;
    color: #032555;
    font-weight: bold;
  }

  .hero-img {
    width: 50%;
  }

  .hero-img img {
    width: 370px;
  } */

/* WHO WE ARE */
/* #who {
    max-width: 90%;
    margin: auto;
  }
  .who {
    margin-top: 30px;
    flex-direction: row;
    justify-content: space-between;
  }
  .who-text {
    margin-left: 20px;
  }
  .who-text h3 {
    color: #032555;
    font-size: 30px;
 
  }

  .who-text p {
    color: #3a3a3a;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 40px;
  }

.who img{
    max-width: 300px;
}
  .who-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
  }

  .who-card div {
    background: #fff;
    margin: 10px;
    width: 250px;
    height: 150px;
  }
} */

/* MEDIA QUERY FROM 1200PX */
/* @media screen and (min-width: 1200px) { */
/* HERO */

/* .hero-wrapper { */
/* margin: 60px 0px 0px 0px; */
/* height: 500px;
    margin-bottom: 30px;
  }

  .hero-text h1 {
    font-size: 52px;
  }

  .hero-text p {
    font-size: 17px;
    line-height: 23px;
    width: 70%;
  }

  .hero-button .button1,
  .hero-button .button2 {
    font-size: 12px;
    padding: 10px;
    margin-right: 20px;
    border: none;
    width: 130px;
  }

  .hero-button .button2 {
    background: transparent;
    border: 1px solid #032555;
  }

  .hero-img {
    width: 70%;
    margin-left: 100px;
  }

  .hero-img img {
    width: 500px;
  } */

/* WHO WE ARE */

/* .who-text {
    margin-left: 20px;
  }
  .who-text h3 {
    font-size: 35px;
 
  }

  .who-text p {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 40px;
  }
  .who img{
    max-width: 350px;
  }


  .who-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }

  .who-card div {
    background: #fff;
    margin: 10px;
    width: 300px;
    height: 150px;
  }
} */
