
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

  body {
    background: #fff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', cursive;
  }
.services {
  background: linear-gradient(
    0deg,
    rgba(241, 246, 253, 0) 1.63%,
    #f1f6fd 20.5%,
    #f1f6fd 58.57%,
    #ffffff 100%
  );
}
.footer {
  background: linear-gradient(192.7deg, #152a47 14.55%, #032555 91.2%);
  border: 1px solid #000000;
  
}

